Repository bensaufley/bensaufley-dot-com-astro: changes, and which lint-staged commands are due for each by the changed paths.
All: http://json.schemastore.org/lintstagedrc.schema, npx prettier --write, npm run lint:astro, npm run format, npm run lint:es, npm run typecheck

Use MDX to get around Vite unnecessarily bundling *every* phosphor-icon when only like, five were used in the dynamic import
  .lintstagedrc.js
  .lintstagedrc.json
  src/components/Header/NavItem.astro
  src/components/Header/index.astro
  src/components/blog/Page.astro
  src/components/reading/Spoiler/styles.module.css
  src/layouts/BaseLayout.astro
  src/pages/404.mdx
  src/pages/blog/[...slug].astro
  src/pages/contact.mdx
  src/pages/index.mdx
  src/pages/projects.mdx
  src/pages/reading/[page].astro
  src/pages/reading/book/[...slug].astro
  src/pages/reading/by-rating/[...slug].astro
  src/pages/reading/index.mdx
  src/pages/resume.mdx
  src/pages/types.ts
Due: npx prettier --write, npm run lint:astro, npm run format, npm run lint:es, npm run typecheck

Trying to sort out the issue that Spoiler styles are not always being included in baked-in-HTML CSS
  src/components/reading/Spoiler/styles.module.css
  src/pages/reading/index.mdx
Due: npx prettier --write

Prettier CSS
  .lintstagedrc.js
Due: npm run format, npm run lint:es, npm run typecheck

Fix for mobilesafari
  src/styles/global.css
Due: none

Update postcss-preset-env and remove deprecated types package; convert postcss config to MJS
  package-lock.json
  package.json
  postcss.config.cjs
  postcss.config.js
Due: npm run format, npm run lint:es, npm run typecheck

Add Stylelint, lint and format
  .lintstagedrc.js
  .stylelintrc.ts
  package-lock.json
  package.json
  src/components/Header/styles.module.css
  src/components/Pagination/styles.module.css
  src/components/ThemePicker/styles.module.css
  src/components/Timestamp/styles.module.css
  src/components/blog/Post.module.css
  src/components/reading/Spoiler/styles.module.css
  src/components/reading/styles.module.css
  src/layouts/BaseLayout.astro
  src/shared/variables.module.css
  src/styles/contact.module.css
  src/styles/global.css
  src/styles/vars.css
Due: npx prettier --write, npm run lint:astro, npm run format, npm run lint:es, npm run typecheck

Fix config files being eslintignored by accident
  .eslintignore
  .lintstagedrc.js
Due: npm run format, npm run lint:es, npm run typecheck

Update books. Also prettier-format them within script
  script/update-books.ts
  src/content/books/all-that-we-see-or-seem.md
  src/content/books/the-grimoire-grammar-school-parent-teacher-association.md
  src/content/books/the-tenant.md
Due: npx prettier --write, npm run format, npm run lint:es, npm run typecheck

Update books
  src/content/books/age-of-legend.md
  src/content/books/the-tenant.md
Due: npx prettier --write

Updating some dependencies & overscroll color, fixing a few things on PDF resume
  package-lock.json
  package.json
  public/resumes/2025-10-resume-ben-saufley.pdf
  src/components/ThemePicker/index.tsx
  src/layouts/BaseLayout.astro
  src/styles/global.css
  src/styles/vars.css
Due: npx prettier --write, npm run lint:astro, npm run format, npm run lint:es, npm run typecheck

Update icons for theme switcher, add GitHub link
  src/components/Footer/index.astro
  src/components/Footer/styles.module.css
  src/components/Header/index.astro
  src/components/Header/styles.module.css
  src/components/ThemePicker/index.tsx
Due: npx prettier --write, npm run lint:astro, npm run format, npm run lint:es, npm run typecheck

OK fine, the header is 'referer' but the rel has two r's
  src/components/Footer/index.astro
  src/components/Header/index.astro
Due: npx prettier --write, npm run lint:astro

Updating resume with preliminary new information; no PDF version of this one yet. Also adding icons for skills, and Corvu Tooltip library for fun.
  .eslintrc.cjs
  astro.config.ts
  package-lock.json
  package.json
  src/components/Header/index.astro
  src/components/Header/styles.module.css
  src/components/ThemePicker/index.tsx
  src/components/ThemePicker/styles.module.css
  src/components/Tooltip/index.tsx
  src/components/Tooltip/styles.module.css
  src/components/resume/Skill.tsx
  src/components/resume/SkillSet.tsx
  src/components/resume/Skills.tsx
  src/components/resume/Switch.tsx
  src/components/resume/icons.ts
  src/components/resume/logos/adobe.svg
  src/components/resume/logos/aws.svg
  src/components/resume/logos/loki.svg
  src/components/resume/logos/playwright.svg
  src/components/resume/logos/rspec.svg
  src/components/resume/styles.module.css
  src/globals.d.ts
  src/pages/resume.mdx
  src/shared/mixins.css
  src/styles/vars.css
  tsconfig.json
Due: npx prettier --write, npm run lint:astro, npm run format, npm run lint:es, npm run typecheck

Updating books
  src/components/reading/Spoiler.astro
  src/components/reading/Spoiler/styles.module.css
  src/content/books/a-curse-carved-in-bone.md
  src/content/books/age-of-legend.md
  src/content/books/i-see-you.mdx
  src/content/books/manufacturing-consent.md
  src/content/books/morning-star.mdx
  src/content/books/recursion.mdx
  src/content/books/the-hunting-wives.mdx
Due: npx prettier --write, npm run lint:astro

Another layer of abstraction: tooltipicon
  src/components/ThemePicker/index.tsx
  src/components/Tooltip/index.tsx
  src/components/TooltipIcon.tsx
Due: npm run format, npm run lint:es, npm run typecheck

Adjust verbiage
  src/components/Footer/index.astro
  src/components/Header/index.astro
Due: npx prettier --write, npm run lint:astro

Fix issue passing Component as prop from Astro to Solid
  src/components/GitHubLink.tsx
  src/components/Header/index.astro
  src/components/TooltipIcon.tsx
  src/pages/404.mdx
Due: npx prettier --write, npm run lint:astro, npm run format, npm run lint:es, npm run typecheck

Add GH Actions deploy
  .github/workflows/deploy.yml
  package-lock.json
Due: none

Whoops, forgot to remove the --password-file arg
  .github/workflows/deploy.yml
Due: none

Add deep fetch-depth so getLatestChanges can work right
  .github/workflows/build-and-deploy.yml
Due: none

Add host to known-hosts and see if that works
  .github/workflows/build-and-deploy.yml
Due: none

Include hidden files (htaccess!)
  .github/workflows/build-and-deploy.yml
Due: none

Parse review_slate for spoilers, italics
  script/update-books.ts
Due: npm run format, npm run lint:es, npm run typecheck

Different serif font, for fun. Name pronunciation tooltip
  src/components/Header/index.astro
  src/components/Header/styles.module.css
  src/layouts/BaseLayout.astro
  src/shared/variables.css
  src/styles/global.css
Due: npx prettier --write, npm run lint:astro

Fix MDX linting, sort imports in MDX files
  .eslintrc.cjs
  src/components/Header/index.astro
  src/pages/404.md
  src/pages/contact.mdx
  src/pages/index.mdx
  src/pages/reading/index.mdx
Due: npx prettier --write, npm run lint:astro, npm run format, npm run lint:es, npm run typecheck

adjust lintstaged for mdx
  .lintstagedrc.js
Due: npm run format, npm run lint:es, npm run typecheck

Codegen GQL for command line, to add up next books, and add up next books. Also add social links
  .github/.gitattributes
  .gitignore
  codegen.ts
  package-lock.json
  package.json
  script/.eslintrc.json
  script/add-up-next.ts
  script/graphql/GetBooks.graphql
  script/graphql/GetUpNext.graphql
  script/lib/graphql-operations.ts
  script/lib/slateToMd.ts
  script/lib/upsertBook.ts
  script/lib/utils.ts
  script/update-books.ts
  src/assets/images/brand-fable.svg
  src/components/TooltipIcon.tsx
  src/components/reading/NowReading.astro
  src/components/reading/ReadingLinks.tsx
  src/components/reading/UpNext.astro
  src/components/reading/styles.module.css
  src/content/books/2054.md
  src/content/books/the-atlas-complex.md
  src/content/books/thunderhead.md
  src/pages/reading/index.mdx
Due: npx prettier --write, npm run lint:astro, npm run format, npm run lint:es, npm run typecheck

Allow token file, to make this easier
  .gitignore
  codegen.ts
  package.json
  script/add-up-next.ts
  script/lib/utils.ts
  script/update-books.ts
Due: npm run format, npm run lint:es, npm run typecheck

Update books
  package.json
  script/lib/slateToMd.ts
  src/content/books/2054.md
  src/content/books/eulalia.md
Due: npx prettier --write, npm run format, npm run lint:es, npm run typecheck

Fix Eulalia import
  src/content/books/eulalia.md
Due: npx prettier --write

Update NowReading sorting and add rating/review
  src/components/reading/NowReading.astro
  src/content/books/a-curse-carved-in-bone.md
  src/content/books/a-curse-carved-in-bone.mdx
Due: npx prettier --write, npm run lint:astro

Fix pagination, add cover image & back button to book pages
  src/components/Pagination/index.tsx
  src/components/reading/ReadBook.astro
  src/components/reading/styles.module.css
  src/pages/reading/book/[...slug].astro
Due: npx prettier --write, npm run lint:astro, npm run format, npm run lint:es, npm run typecheck

Working on Pagefind search, for fun
  .eslintrc.cjs
  astro.config.ts
  package-lock.json
  package.json
  src/components/Header/NavItem.astro
  src/components/Header/SearchItem/Result.tsx
  src/components/Header/SearchItem/index.tsx
  src/components/Header/SearchItem/pagefind-web-js.ts
  src/components/Header/SearchItem/pagefind.ts
  src/components/Header/SearchItem/styles.module.css
  src/components/Header/index.astro
  src/components/Header/styles.module.css
  src/components/HotKey/MetaKey.tsx
  src/components/HotKey/index.tsx
  src/components/HotKey/styles.module.css
  src/components/ThemePicker/styles.module.css
  src/components/resume/styles.module.css
  src/lib/pageTypes.ts
Due: npx prettier --write, npm run lint:astro, npm run format, npm run lint:es, npm run typecheck

Path conditions:
  http://json.schemastore.org/lintstagedrc.schema: any of: $schema
  npx prettier --write: any of: **/*.{astro,md,mdx}
  npm run lint:astro: any of: **/*.astro
  npm run format: any of: **/*.{js,cjs,ts,tsx}
  npm run lint:es: any of: **/*.{js,cjs,ts,tsx}
  npm run typecheck: any of: **/*.{js,cjs,ts,tsx}
